---
import { Icon } from "astro-icon/components";
---

<footer id="contact">
  <div class="h-40 bg-gradient-to-t from-base-300 to-transparent"></div>
  <div class="bg-base-300 py-20">
    <div class="container h-full">
      <h1 class="text-[clamp(2rem,6vw,4.2rem)] font-bold">Kontakt</h1>
      <div class="text-[clamp(1rem,3vw,2.1rem)]">
        <span class="flex items-center gap-4">
          <Icon name="mdi:telephone" /> +48 780 182 501
        </span>
        <span class="flex items-center gap-4">
          <Icon name="mdi:email" /> sgrzybbowski@gmail.com
        </span>
      </div>
    </div>
  </div>
</footer>
