---
import { Image } from "astro:assets";
import MyLogo from "@assets/Logo/My-New-Logo-256.png";
import Button from "./Button.astro";
import Hamburger from "./Hamburger.svelte";
import GithubButton from "./GithubButton.astro";
---

<nav
  class="fixed top-0 z-20 flex h-20 w-full items-center justify-between bg-gradient-to-b from-base-300 p-4"
>
  <a href="#" class="aspect-square h-full">
    <Image
      src={MyLogo}
      format="webp"
      class="aspect-square"
      alt="Seba9989.dev"
    />
  </a>

  <div class="hidden items-center justify-between gap-4 sm:flex">
    <!-- <Button href="#projects-gallery">Projects</Button> -->
    <Button href="#about-me">About me</Button>
    <Button href="#contact">Kontakt</Button>
    <GithubButton />
  </div>
  <Hamburger client:load>
    <GithubButton className="underline" />
    <!-- <Button href="#projects-gallery" className="">Projects</Button> -->
    <Button href="#about-me" className="">About me</Button>
    <Button href="#contact" className="">Kontakt</Button>
  </Hamburger>
</nav>
