---
import { Image } from "astro:assets";
import MyLogo from "../../assets/Logo/My-New-Logo-256.png";
import Button from "./Button.astro";
import SuperText from "../SuperText.astro";
---

<nav
  class="fixed top-0 z-10 flex h-20 w-full items-center justify-between bg-gradient-to-b from-base-300 p-4"
>
  <a href="#" class="aspect-square h-full">
    <Image
      src={MyLogo}
      format="webp"
      class="aspect-square"
      alt="Seba9989.dev"
    />
  </a>

  <div class="flex items-center justify-between gap-4">
    <Button href="https://github.com/seba9989?tab=repositories">
      Projects
    </Button>
    <a
      class="text-[clamp(2rem,6vw,4.2rem)] text-xl font-bold w-fit"
      href="https://github.com/seba9989"
    >
      <SuperText>{"> GitHub <"}</SuperText>
    </a>
  </div>
</nav>
