---
import SuperText from "./SuperText.astro";
---

<section class="flex h-screen flex-col items-center justify-center">
  <h1 class="text-[clamp(2rem,6vw,4.2rem)] font-black text-center w-fit">
    Welcome to <SuperText>Seba9989</SuperText>
  </h1>
</section>

<style scoped>
  h1 {
    max-width: calc(100% - 2rem);
  }
</style>
