---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  color?: string;
}

const { icon, color } = Astro.props;
---

<div class="avatar">
  <div class="h-16 w-16 rounded-full">
    <div class="flex h-full items-center justify-center bg-base-300 p-3">
      <Icon name={icon} style={`color:` + color} class="h-full w-full" />
    </div>
  </div>
</div>
