---
import SuperText from "@components/SuperText.astro";
---

<section id="about-me" class="flex flex-col gap-20 pt-20">
  <h1 data-aos="fade-right" class="text-[clamp(2rem,6vw,4.2rem)] font-bold">
    O Mnie
  </h1>
  <div class="flex flex-col gap-10 text-[clamp(1rem,3vw,2.1rem)]">
    <p data-aos="fade-right">
      Jestem <span class="font-bold">
        <SuperText>Sebastian Grzybowski</SuperText>
      </span> hobbistycznie zajmuję się frontendem od ponad 6 lat. Podczas mojej
      przygody z frontendem przeszedłem przez różne fazy poczynając od reacta przez
      vue by w końcu osiąść na połączeniu astro z svelte.
    </p>
    <p data-aos="fade-right">
      Obecne doszkalam się w backendzie głównie w zakresie relacyjnych baz
      danych i tworzenia api za pomocą NestJS.
    </p>
    <p data-aos="fade-right">
      Jeszcze dwa słowa na temat mojego charakteru i osobowości. Jestem osobą
      mocno familiarną w kontaktach towarzyskich. Z moich zainteresowani to: D&D,
      Anime, Komiksy oraz jazda na rowerze. Wakacje preferuję spędzać chodząc po
      górach.
    </p>
  </div>
</section>
