---
import { getImage } from "astro:assets";
import NavBar from "@components/NavBar/NavBar.astro";
import Footer from "@views/Footer.astro";
import logo from "@assets/Logo/My-New-Logo-64.png";
interface Props {
  title: string;
}

const { title } = Astro.props;
const favicon = await getImage({ src: logo, format: "webp" });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="../ts/aosInit"></script>
  </head>
  <body>
    <NavBar />
    <div class="container">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  body {
    padding: 0%;
    margin: 0%;
  }

  * {
    box-sizing: border-box;
  }

  section {
    min-height: 100vh;
  }

  .container {
    max-width: calc(100vw - 2rem);
    width: 1024px;
    margin: auto;
  }
</style>
